<link rel="stylesheet" href="modules/submissions/submissions.css">
<link rel="stylesheet" href="modules/submission/submission.css">
<div class="submissions submission">
    <div class="col-md-12 no-padding">
        <div ng-show="vm.submission.previous" class="navigation-overlay left" ui-sref="submission({id: vm.submission.previous.id})"><i class="fa fa-fw fa-caret-left fa-2x"></i></div>
        <img ng-src="{{vm.image}}">
        <div ng-show="vm.submission.next" class="navigation-overlay right" ui-sref="submission({id: vm.submission.next.id})"><i class="fa fa-fw fa-caret-right fa-2x"></i></div>
    </div>

    <div class="col-md-12 info-box">
        <i class="fa fa-cog fa-fw" ng-show="vm.mine" ng-click="vm.openEditModal()"></i>

        <h3 ng-bind="vm.submission.title||'No title'"></h3>
        <h4>by
            <a ui-sref="profile({id: vm.submission.user.id})" ng-bind="vm.submission.user.username"></a>
            <small ng-bind="vm.submission.created_at_readable"></small>
        </h4>
        <div ng-bind="vm.submission.description"></div>
        <div class="small-text">Upload url: <a ng-href="{{vm.submission.imagePath}}" target="_blank">
            <i class="fa fa-fw fa-external-link"></i><i ng-bind="vm.submission.imagePath"></i>
        </a>
        </div>

        <hr class="smaller-divider" />

        <i class="fa fa-fw fa-trophy" ng-class="vm.submission.challenge_entries.length == 0 ? 'disabled' : ''"
           popover-trigger="'mouseenter'" popover-placement="right" uib-popover="{{vm.submission.challenge_status}}">
        </i>
    </div>

    <div class="col-md-12 info-box" ng-show="vm.submission.redline && vm.isLoggedIn">
        <h4>Redlines / feedback</h4>
        <div ng-show="vm.mine">
            <div class="redline-disclaimer">
                <i>Only you as the submission owner can see feedback left here.</i>
            </div>

            <div ng-show="vm.submission.redlines.length == 0">Nobody has left feedback on this submission.</div>

            <div ng-repeat="redline in vm.submission.redlines">
                <div class="row">
                    <div class="col-md-3" tooltip-placement="top" uib-tooltip="{{redline.imagePath}}">
                        <a ng-href="{{redline.imagePath}}" target="_blank">
                            <img ng-src="api/redlines/{{redline.id}}/thumbnail" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <b><a ui-sref="profile({id: redline.user.id})" ng-bind="redline.user.username"></a>: </b>
                        <span ng-bind-html="redline.comment"></span>
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div ng-show="!vm.mine">
            <div class="redline-disclaimer">
                <i>Only the submission owner can see all redlines submitted. Your own redline is visible to yourself.</i>
            </div>
            <div ng-show="vm.submission.redlines.id">
                <div class="row">
                    <div class="col-md-3" tooltip-placement="top" uib-tooltip="{{vm.submission.redlines.imagePath}}">
                        <a ng-href="{{vm.submission.redlines.imagePath}}" target="_blank">
                            <img ng-src="api/redlines/{{vm.submission.redlines.id}}/thumbnail" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div ng-bind-html="vm.submission.redlines.comment"></div>
                    </div>
                    <!-- TODO Add ability to edit your own feedback -->
                </div>
            </div>
            <div ng-show="!vm.submission.redlines.id">
                <input type="button" class="btn btn-success btn-lg" value="Give feedback" ng-click="vm.openRedlineModal()">
            </div>
        </div>

    </div>

    <div class="col-md-12 info-box">
        <div class="row">
            <div class="col-xs-8">
                <h4>Newest submissions by <a ui-sref="profile({id: vm.submission.user.id})" ng-bind="vm.submission.user.username"></a></h4>

            </div>
            <div class="col-xs-4 pull-right">
                <div class="btn-group pull-right" data-toggle="buttons">
                    <label class="btn" ng-class="vm.nsfw == false ? 'btn-success' : 'btn-default'" ng-click="vm.setNsfw(false)">
                        <input type="radio" ng-model="vm.nsfw" name="options" id="swf" autocomplete="off" value="false"> SFW
                    </label>
                    <label class="btn" ng-class="vm.nsfw == true ? 'btn-danger' : 'btn-default'" ng-click="vm.setNsfw(true)">
                        <input type="radio" ng-model="vm.nsfw" name="options" id="nsfw" autocomplete="off" value="true"> NSFW
                    </label>
                </div>
            </div>
        </div>

        <div ng-show="vm.submissions.length == 0">No submissions!</div>
        <ul class="rig">
            <li ng-repeat="submission in vm.submissions">
                <a class="rig-cell" ui-sref="submission({id: submission.id})">
                    <img class="rig-img" ng-src="{{submission.secureThumb}}">
                    <span class="rig-overlay"></span>
                    <span ng-show="submission.title" class="rig-text" ng-bind="submission.title"></span>
                    <span ng-hide="submission.title" class="rig-text">No title</span>
                </a>
            </li>
        </ul>
    </div>
</div>