<link rel="stylesheet" href="modules/critiques/critiques.css">
<link rel="stylesheet" href="modules/critique/critique.css">
<div class="critiques critique">
    <div class="col-md-12">
        <div class="crit-box info">
            <h4>
                <a ui-sref="profile({id: vm.critique.user.id})" ng-bind="vm.critique.user.username"></a>
                <small ng-bind="vm.critique.created_at_readable"></small></h4>
            <hr />

            <div ng-bind="vm.critique.description||'(No comment)'"></div>
        </div>
    </div>

    <div class="col-md-12" ng-hide="vm.mine || vm.critique.status == 'inactive' || !vm.isLoggedIn || vm.hasResponded">
        <div class="col-md-12">

            <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
                {{ vm.error }}
            </div>

            <div class="crit-box row">
                <textarea class="form-control" ng-model="vm.newReply.text" placeholder="Don't hold back." rows="5" maxlength="10000"></textarea>

                <div class="col-xs-8">
                    <div class="checkbox" ng-show="vm.critique.allow_anonymous">
                        <label><input type="checkbox" ng-model="vm.newReply.anonymous">Submit anonymously</label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <input type="button" value="Submit" class="btn btn-success pull-right" ng-click="vm.post()">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h4>Replies:</h4>

        <div ng-show="vm.critique.critique_replies.length > 0" ng-repeat="reply in vm.critique.critique_replies" class="crit-box dont-break-out">
            <h4 ng-show="reply.user" ui-sref="profile({id: reply.user_id})">
                <a ui-sref="profile({id: reply.user.id})" ng-bind="reply.user.username"></a>
                <small ng-bind="reply.created_at_readable"></small>
            </h4>
            <h4 ng-show="!reply.user">(Anonymous) <small ng-bind="vm.critique.created_at_readable"></small></h4>
            <hr />

            <span ng-bind-html="reply.text"></span>
        </div>

        <div ng-show="vm.critique.critique_replies.length == 0" class="crit-box">
            No replies!
        </div>
    </div>
</div>
