.critique .crit-box .btn {
    margin-top: 5px;
}

.critique .crit-box {
    padding: 20px;
    margin-bottom: 15px;
}

.critique h4 small {
    font-size: 60%;
}

.critique a {
    color: black;
}

/* COLOR */

.critique .crit-box hr {
    border-color: #ccc;
}