<html>
<header>
<link rel="stylesheet" href="modules/login/login.modal.css">
</header>
<body>
<div ng-hide="vm.registerMode" class="modal-body loginmodal-container">
    <form>
        <h1>Login</h1><br>
        <input type="text" placeholder="Username" ng-model="vm.loginData.username">
        <input type="password" placeholder="Password" ng-model="vm.loginData.password">

        <input type="submit" class="login loginmodal-submit" value="Login" ng-click="vm.login()">

        <div class="login-help">
            <a ng-click="vm.toggleRegisterMode()"><i class="fa fa-fw fa-user-plus"></i> Register</a>
        </div>

        <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
            {{ vm.error }}
        </div>
    </form>
</div>

<div ng-hide="!vm.registerMode" class="modal-body loginmodal-container">
    <form>
        <h1>Register</h1><br>
        <input type="text" placeholder="Username" ng-model="vm.registerData.username">
        <input type="text" placeholder="Email (optional)" ng-model="vm.registerData.email">
        <input type="password" placeholder="Password" ng-model="vm.registerData.password">
        <input type="password" placeholder="Repeat password" ng-model="vm.registerData.password_confirmation">

        <input type="submit" class="login loginmodal-submit" value="Register" ng-click="vm.register()">

        <div class="login-help">
            <a ng-click="vm.toggleRegisterMode()"><i class="fa fa-fw fa-sign-in"></i> Login</a>
        </div>

        <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
            {{ vm.error }}
        </div>
    </form>
</div>
</body>
</html>