<div class="password_put">
    <div class="modal-header">
        <h4>Change password</h4>
    </div>
    <form>
        <div class="modal-body">

            <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
                {{ vm.error }}
            </div>

            <div class="col-md-12">
                <input type="password" ng-model="vm.passwords.password" class="form-control current_password" placeholder="Current password" minlength="6">
            </div>
            <div class="col-md-6">
                <input type="password" ng-model="vm.passwords.new_password" class="form-control" placeholder="New password" minlength="6">
            </div>
            <div class="col-md-6">
                <input type="password" ng-model="vm.passwords.new_password_confirmation" class="form-control" placeholder="Confirm new password" minlength="6">
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default pull-left" value="Cancel" ng-click="vm.cancel()">
            <input type="submit" class="btn btn-success" value="Save" ng-click="vm.save()">
        </div>
    </form>
</div>