<link rel="stylesheet" href="modules/submissions/submissions.css">
<div class="submissions col-md-12">

    <div class="col-md-12 header">
        <span class="col-xs-1">
            <i class="fa fa-big fa-arrow-left" ng-click="vm.navBack()"></i>
        </span>

        <h3 class="col-xs-10 title">Submissions <span ng-bind="vm.date"></span> <span class="badge" ng-bind="vm.submissionCount"></span></h3>

        <span ng-hide="vm.offset <= 0" class="col-xs-1">
            <div class="pull-right"><i class="fa fa-big fa-arrow-right" ng-click="vm.navForth()"></i></div>
        </span>
    </div>

    <canvas id="bar" class="chart chart-bar" chart-options="vm.chartOptions"
            chart-data="vm.graphData" chart-labels="vm.graphLabels" height="20">
    </canvas>

    <hr class="header-divider" />

    <div class="btn-group pull-right" data-toggle="buttons">
        <label class="btn" ng-class="vm.nsfw == false ? 'btn-success' : 'btn-default'" ng-click="vm.setNsfw(false)">
            <input type="radio" ng-model="vm.nsfw" name="options" id="swf" autocomplete="off" value="false"> SFW
        </label>
        <label class="btn" ng-class="vm.nsfw == true ? 'btn-danger' : 'btn-default'" ng-click="vm.setNsfw(true)">
            <input type="radio" ng-model="vm.nsfw" name="options" id="nsfw" autocomplete="off" value="true"> NSFW
        </label>
    </div>

    <input type="button" value="Show info" class="infomode-btn pull-right btn"
           ng-class="vm.infoMode ? 'btn-success' : 'btn-default'"
           ng-click="vm.toggleInfomode()" />

    <input ng-show="vm.isLoggedIn" type="button" value="Select follows" class="infomode-btn pull-right btn"
           ng-class="vm.followMode ? 'btn-success' : 'btn-default'"
           ng-click="vm.togglefollowMode()" />

    <hr class="header-divider" />

    <div class="timeline">
        <a class="count-block" ui-sref="submissions({offset: count.offset})"
             ng-repeat="count in vm.count" uib-popover="{{count.created_at_readable}}" popover-trigger="'mouseenter'"
             ng-class="vm.isCurrentDate(count.created_at)" ng-bind="count.count"></a>
    </div>

    <hr class="header-divider" />

    <div class="col-md-12">
        <div ng-show="vm.submissions.length == 0 && vm.follow_submissions.length == 0">No submissions!</div>

        <ul class="rig">
            <li ng-repeat="submission in vm.follow_submissions | orderBy: '-created_at'">
                <a class="rig-cell-title-follow top-title"
                   ng-show="vm.infoMode" ui-sref="profile({id: submission.user.id})"
                    ng-bind="submission.user.username"></a>

                <a ng-show="!vm.followMode" class="rig-cell" ui-sref="submission({id: submission.id})">
                    <img class="rig-img" ng-src="{{submission.secureThumb}}">
                    <span class="rig-overlay-follow"></span>
                    <span ng-show="vm.infoMode" class="rig-text" ng-bind="submission.title||'No title'"></span>
                    <span ng-show="!vm.infoMode" class="rig-text" ng-bind="submission.user.username"></span>
                </a>

                <a ng-show="vm.followMode" class="rig-cell follow-pickable" ng-click="vm.follow(submission.user.id)">
                    <img class="rig-img" ng-src="{{submission.secureThumb}}">
                    <span class="rig-overlay-follow-delete"></span>
                    <span ng-show="vm.infoMode" class="rig-text" ng-bind="submission.title||'No title'"></span>
                    <span ng-show="!vm.infoMode" class="rig-text" ng-bind="submission.user.username"></span>
                </a>

                <div class="rig-cell-title-follow" ng-show="vm.infoMode" ng-bind="submission.created_at_readable"></div>
            </li>
        </ul>

        <hr ng-show="vm.submissions.length != 0 && vm.follow_submissions.length > 0" class="smaller-divider" />

        <ul class="rig">
            <li ng-repeat="submission in vm.submissions | orderBy: '-created_at'">
                <a class="rig-cell-title top-title" ng-show="vm.infoMode"
                   ui-sref="profile({id: submission.user.id})" ng-bind="submission.user.username"></a>

                <a ng-show="!vm.followMode" class="rig-cell" ui-sref="submission({id: submission.id})">
                    <img class="rig-img" ng-src="{{submission.secureThumb}}">
                    <span class="rig-overlay"></span>
                    <span ng-show="vm.infoMode" class="rig-text" ng-bind="submission.title||'No title'"></span>
                    <span ng-show="!vm.infoMode" class="rig-text" ng-bind="submission.user.username"></span>
                </a>

                <a ng-show="vm.followMode" class="rig-cell follow-pickable" ng-click="vm.follow(submission.user.id)">
                    <img class="rig-img" ng-src="{{submission.secureThumb}}">
                    <span class="rig-overlay-follow"></span>
                    <span ng-show="vm.infoMode" class="rig-text" ng-bind="submission.title||'No title'"></span>
                    <span ng-show="!vm.infoMode" class="rig-text" ng-bind="submission.user.username"></span>
                </a>

                <div class="rig-cell-title" ng-show="vm.infoMode" ng-bind="submission.created_at_readable"></div>
            </li>
        </ul>
    </div>

</div>