.submissions .header .title {
    text-align: center;
    margin-top: 20px;
}

.submissions .header-divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submissions .btn-group {
    margin-bottom: 5px;
}

.submissions .header {
    margin-bottom: 20px;
}

.submissions .fa-big {
    font-size: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.submissions .fa-big:hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.submissions .badge {
    margin-bottom: 5px;
}

.submissions .timeline {
    width: 100%;
    text-align: center;
}

.submissions .timeline .count-block {
    margin: 5px 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    min-width: 30px;
    cursor: pointer;
    text-decoration: none;
}

.submissions .rig {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.submissions .rig li {
    display: inline-block;
    width: 16.4%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 1px;
}

.submissions .rig-cell {
     display: block;
     position: relative;
     overflow: hidden;
 }

.submissions .rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

.submissions .rig-cell:hover .rig-img {
    transform:scale(1.05);
}

.submissions .rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: 50px 50px;
    opacity: 0;
    transition: all .7s;
}

.submissions .rig-cell:hover .rig-overlay,
.submissions .rig-cell:hover .rig-overlay-follow,
.submissions .rig-cell:hover .rig-overlay-follow-delete {
    cursor: pointer;
    opacity:0.8;
}

.submissions .rig-text {
    display: block;
    cursor: pointer;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    top: 40%;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .5s;
}

.submissions .rig-overlay-follow {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: 50px 50px;
    opacity: 0;
    transition: all .7s;
}

.submissions .rig-overlay-follow-delete {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: 50px 50px;
    opacity: 0;
    transition: all .7s;
}

.submissions .top-title {
    margin-top: 7px;
}

.submissions .infomode-btn {
    margin-right: 15px;
}

.submissions .rig li:hover .rig-text {
    transform: translateY(0);
    opacity: 0.9;
}

.submissions .rig-cell-title {
    width: 100%;
    display: block;
    text-align: center;
}

.submissions .rig-cell-title-follow {
    width: 100%;
    display: block;
    text-align: center;
}

@media (max-width: 1400px) {
    .submissions .rig li {
        width: 19.6%;
    }
}

@media (max-width: 1200px) {
    .submissions .rig li {
        width:24.5%;
    }
}

@media (max-width: 950px) {
    .submissions .rig li {
        width:32.8%;
    }
}

@media (max-width: 800px) {
    .submissions .rig li {
        width:49%;
    }
}

@media (max-width: 650px) {
    .submissions .rig li {
        width:100%;
    }
}

/* COLOR */

.submissions .follow-pickable {
    border: 1px black dashed;
}

.submissions .rig-overlay-follow {
    background-color: #449d44;
}

.submissions .rig-overlay-follow-delete {
    background-color: #c9302c;
}

.submissions hr {
    border-color: #ccc;
}

.submissions .fa-big {
    color: black;
}

.submissions .timeline .count-block {
    border: 1px solid #777;
    color: black;
}

.submissions .timeline .active-block {
    background-color: #68a3d5;
    color: white;
}

.submissions .badge {
    background-color: #68a3d5;
}

.submissions .rig-text {
    color: white;
}

.submissions .rig-overlay {
    background-color: #68a3d5;
}

.submissions .rig-cell-title {
    color: white;
    background-color: #68a3d5;
}

.submissions .rig-cell-title-follow {
    color: white;
    background-color: #449d44;
}