<div class="challenges_post">
    <div class="modal-header">
        <h4>New challenge</h4>
    </div>
    <form>
        <div class="modal-body">

            <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
                {{ vm.error }}
            </div>

            <div class="form-group">
                <div class="col-xs-6 no-padding title">
                    <input type="text" ng-model="vm.challenge.title" class="form-control" placeholder="Title" maxlength="50">
                </div>

                <div class="col-xs-3 duration">
                    <input type="number" ng-model="vm.challenge.duration" class="form-control" placeholder="Duration" min=0 max="31">
                </div>

                <div class="checkbox col-xs-3">
                    <label class="pull-right"><input type="checkbox" ng-model="vm.challenge.contest">
                        Contest
                        <i class="fa fa-fw fa-question-circle" tooltip-placement="top" uib-tooltip="A winner will be voted for at the end"></i>
                    </label>
                </div>

                <textarea class="form-control" ng-model="vm.challenge.description" placeholder="Short description" rows="2" maxlength="1000"></textarea>

                <textarea class="rules form-control" ng-model="vm.challenge.rules" placeholder="Rules - 1 per line" rows="4" maxlength="3000"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default pull-left" value="Cancel" ng-click="vm.cancel()">
            <input type="submit" class="btn btn-success" value="Create" ng-click="vm.save()">
        </div>
    </form>
</div>