<link rel="stylesheet" href="modules/challenges/challenges.css">

<div ng-cloak class="challenges">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading">Information</div>
            <div class="panel-body">
                Challenges are communtiy made activities you can link your submissions to when you submit. A challenge can last anywhere from 1 day to a month.
                <br />Anyone can make challenges and anyone can join them. You can link many submissions to a single challenge if you need to.
                <br />A challenge can be set to contest mode, which means at the end of the challenge, it will enter voting mode for 2 days.
                When a contest is in voting mode, anyone can vote for the person they think had the best submission(s).
                <br /> <br />
                To enter a challenge you simply select the challenge using the blue trophy button when you submit an image on the dashboard.
            </div>
        </div>

        <h3 class="title">Challenges</h3>
        <div ng-click="vm.openNewChallengeModal()" class="badge add pull-right" ng-show="vm.isLoggedIn">
            <i class="fa fa-fw fa-plus"></i> New challenge
        </div>

        <table class="table" ng-show="vm.challenges.active.length > 0">
            <tr>
                <th class="no-border"></th>
                <th>Title</th>
                <th>Creator</th>
                <th>Entries</th>
                <th>Time left <i class="fa fa-fw fa-caret-down pull-right"></i></th>
                <th>Created</th>
            </tr>
            <tr ng-repeat="challenge in vm.challenges.active | orderBy: 'end_date.date'" class="clickable-row">
                <td><a ui-sref="challenge({id: challenge.id})"><i ng-show="challenge.contest" class="fa fa-fw fa-trophy"></i></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.title"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.user.username"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.entry_count"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.end_date_readable"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.created_at_readable"></a></td>
            </tr>
        </table>
        <div ng-show="vm.challenges.active.length == 0">None!</div>

        <h4 ng-show="vm.challenges.voting.length > 0">In voting</h4>
        <table class="table" ng-show="vm.challenges.voting.length > 0">
            <tr>
                <th class="no-border"></th>
                <th>Title</th>
                <th>Creator</th>
                <th>Entries</th>
                <th>Created</th>
            </tr>
            <tr ng-repeat="challenge in vm.challenges.voting" class="clickable-row">
                <td><a ui-sref="challenge({id: challenge.id})"><i ng-show="challenge.contest" class="fa fa-fw fa-trophy"></i></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.title"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.user.username"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.entry_count"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.created_at_readable"></a></td>
            </tr>
        </table>

        <h4>Inactive</h4>
        <table class="table" ng-show="vm.challenges.inactive.length > 0">
            <tr>
                <th class="no-border"></th>
                <th>Title</th>
                <th>Creator</th>
                <th>Entries</th>
                <th>Created</th>
            </tr>
            <tr ng-repeat="challenge in vm.challenges.inactive" class="clickable-row">
                <td><a ui-sref="challenge({id: challenge.id})"><i ng-show="challenge.contest" class="fa fa-fw fa-trophy"></i></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.title"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.user.username"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.entry_count"></a></td>
                <td><a ui-sref="challenge({id: challenge.id})" ng-bind="challenge.created_at_readable"></a></td>
            </tr>
        </table>
        <div ng-show="vm.challenges.inactive.length == 0">None!</div>
    </div>
</div>