.notfound-container {
    width: 100%;
    color: #B0BEC5;
    font-weight: 100;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.notfound-container .title {
    font-size: 72px;
    margin-bottom: 40px;
    letter-spacing: 25px;
    color: #e3e3e3;
    -webkit-transition: color 4s ease-out;
    -moz-transition: color 4s ease-out;
    -o-transition: color 4s ease-out;
    transition: color 4s ease-out;
}

.notfound-container .title:hover {
    color: black;
    -webkit-transition: color 4s ease-out;
    -moz-transition: color 4s ease-out;
    -o-transition: color 4s ease-out;
    transition: color 4s ease-out;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}