<link rel="stylesheet" href="modules/introduction/introduction.css">

<div class="introduction">
    <div class="banner">
        <div class="title">TALENT ISN'T REAL</div>
        <hr class="divider">
        <div class="subtitle">There is only hard work</div>
    </div>

    <div class="join-container">
        <button class="btn btn-success join-banner" ng-click="vm.enter()">Start drawing <i class="fa fa-fw fa-chevron-right"></i></button>
    </div>

    <div class="row section first-section">
        <div class="section-image col-xs-4">
            <i class="fa fa-fw fa-pencil"></i>
        </div>

        <div class="section-content col-xs-8">
            <h3>Draw Every Day</h3>
            <hr />
            <p class="opener">This site has one goal; to build a habit.</p>

            <p>If you want to get good at just about anything, you'll have to work for it. Art is no exception.
                Building the habit of drawing on a regular basis can be hard, but once it's part of your day it'll be the most natural thing in the world to you.</p>
            <p>-- What, you <i>don't</i> draw every day!?</p>
            <p>We are creatures of habit. Assign a timeslot of the day you know you <i>could</i> draw, and do so.
               Plan your day and you'll find time to draw you didn't know you had where you can completely focus on drawing.
                You might even start looking forward to it.</p>
        </div>
    </div>

    <div class="row section white-section">
        <div class="section-content col-xs-8">
            <h3>Challenge Yourself</h3>
            <hr />
            <p class="opener">There are no rules, just tools.</p>

            <p>Drawing every day is a challenge in itself, but it's easy to fall into a comfort zone or just simply run out of ideas.</p>
            <p>Joining somebody's community challenge is a great way to jump into your uncomfortable pants - and there's nothing better if you want to improve as an artist.
            You could even create your own challenges for others to join. Forcing yourself into the deep end of things you know you're not good at is a great way to learn.
                Stop fearing to draw what won't be your best work and submit some ungodly abominations - soon they'll improve, and as will you as an artist.</p>
            <p>Explore different mediums even if they initially hold no interest to you - you might be pleasantly surprised with what they can offer.</p>
        </div>

        <div class="section-image col-xs-4">
            <i class="fa fa-fw fa-trophy"></i>
        </div>
    </div>

    <div class="row section third-section">
        <div class="section-image col-xs-4">
            <i class="fa fa-fw fa-comments"></i>
        </div>

        <div class="section-content col-xs-8">
            <h3>Join the community</h3>
            <hr />
            <p class="opener">There is no shame in asking for guidance from those who have been where you are.</p>

            <p>Getting critique and feedback can be incredibly helpful to open your eyes after staring at a piece for hours.
                Even someone less experienced than yourself can identify mistakes that might not have crossed your mind.</p>
            <p>Giving feedback can be just as helpful to yourself as it is to those on the receiving end.
                It requires a lot of understanding and knowledge to objectively spot mistakes and provide a solution.
                Doing this often trains your eye to spot mistakes in your own art as well as others, and your skills and understanding improve in a way just drawing won't as easily teach you.</p>
        </div>
    </div>

    <div class="row section white-section">
        <div class="section-content col-xs-8">
            <h3>Get rewards for working hard</h3>
            <hr />
            <p class="opener">Work towards milestones and complete challenges to earn badges.</p>

            <p>Those who work hard, be it for themselves or the community, deserve a little pat on the back every now and then.</p>
            <p>Earn badges to showcase on your profile by participating in site activities like giving feedback or winning a contest.
                There are several milestones put in place geared towards your continued hard work. </p>
            <p>There's always going to be more badges thought up, created and made available for you to unlock as the site grows!</p>
        </div>
        <div class="section-image col-xs-4">
            <i class="fa fa-fw fa-certificate"></i>
        </div>
    </div>

    <div class="row section last-section">
        <div class="section-content centered col-xs-12">
            <h3>Some advice for your journey</h3>
            <hr />
            <p>Every artist started at zero, so don't expect it to be any different for you.</p>
            <p>The only way to improve is to keep drawing.</p>
            <p>Don't burn yourself out, mix up your days.</p>
            <p>Don't compare your work to others.</p>
            <p>Set your eyes on a goal.</p>
            <br />
            <p class="opener">And perhaps most important, don't forget to enjoy yourself.</p>
        </div>
    </div>

    <div class="join-container">
        <button class="btn btn-success join-banner" ng-click="vm.enter()">Start drawing <i class="fa fa-fw fa-chevron-right"></i></button>
    </div>

</div>