.introduction {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.introduction .banner {
    height: 400px;
    padding: 120px 0 120px 0;
    color: white;
    text-align: center;

    background: url(../../resources/intro_banner.png) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.introduction .join-container {
    background-color: white;
}

.introduction .join-banner {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #c0deb4;
    color: #151515;
    font-size: 27px;
    text-align: center;
    padding: 25px;
    width: 100%;
    border: 0;
    border-radius: 0;
    outline: none;
}

.introduction .join-banner:hover {
    background-color: #a3d792;
}

.introduction .join-banner i {
    font-size: 19px;
}

.introduction .title {
    font-size: 72px;
}

.introduction .divider {
    max-width: 850px;
    margin: 0 200px 0 200px;
    border: 2px solid white;
}

.introduction .subtitle {
    font-size: 42px;
}

.introduction .section {
    min-height: 400px;
    padding: 25px;
    margin: 0;
    width: 100%;
}

.introduction .section .section-image {
    display: inline-block;
    font-size: 245px;
    text-align: center;
}

.introduction .section .section-content {
    display: inline-block;
    font-size: 17px;
    line-height: 27px;
}

.introduction .section .section-content h3 {
    text-align: center;
}

.introduction .section .section-content .opener {
    font-size: 19px;
}

.introduction .section hr {
    border: 2px solid white;
}

.introduction .white-section hr {
    border: 2px solid #d9edf7;
}

.introduction .white-section {
    background-color: white;
}

.introduction .first-section {
    background-color: #d9edf7;
}

.introduction .third-section {
    background-color: #e7d9f7;
}

.introduction .last-section {
    background-color: #d9f7e1;
}