<% provide(:title, "Do Art Daily | About us") %>
 

<div id="parallax1" class="pad-section">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-left">
        <h2>The Idea</h2>
        <p class="lead">was pioneered by a man by the name of <b>Lava.</b> The concept was simple, you draw thirty minutes every day and post, starting a streak.
        Hold your streak longer than all others and congratulations, you are the best. After the first announcement of the idea was made attention flocked from boards to the first thread.</p>
      </div>
    </div>
  </div>
</div>

<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Last Artist Standing - The Original</h2> <hr />
    
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
      <%= image_tag "laslogin.jpg", :alt => "las login" %>
	        <h6>LAS's Login Page.</h6>
	      </div>
      <div class="col-sm-7 text-right">
      <p class="lead">The site was an instant hit. Lava hosted the community at his personal site of <i>www.lavaflake.com/draw/</i> and 
      within the first week there were an upwards of <b>90</b> daily artists submitting. A new <b>community</b> was born, and the battle began to see who would submit 
      flawlessly for the longest amount of time.</p>
    </div>
    
    </div>
  </div>
</div>

<div id="parallax2" class="pad-section">
</div>

<div id="services" class="pad-section">
  <div class="container">
    <div class="row text-center">
	     <div class="col-sm-3 col-xs-6">
      <%= image_tag "week-one.jpg", :alt => "week one" %>
	        <h6>The Week-Oners.</h6>
	      </div>
	     
      <div class="col-sm-7 text-left">
        <h2>Grinding to Git Gud</h2>
        <p class="lead"> The community of LAS quickly began to struggle with the challenge at hand, but while many artists fell out of the first week, 
        all were hooked back into continuing despite the difficulty. A bond began to form between the community, and each member took on the name of <b>lasso.</b></p>
      </div>
      
    </div>
  </div>
</div>
<div id="about" class="pad-section">
  <div class="container">
    <div class="row text-center">
      <div class="text-center">
        <h2>Cloudy Times</h2>
        <p class="lead"> As time moved on, progress on the site began to slow to a crawl and communication between Lava and the community was cut altogether.
        For multiple periods over the following year Lava would speak on and off directly with the community, but made no comments directly. At one point, we recieved notice
        from him that he had been suffering some sort of illness, and was facing many personal trials in his life. The communities true spirit shown through this, as 
        over a dozen of inspired artists drew personal get well cards for Lava. You can view a blown-up picture of them below.</p>
      </div>
      
    </div>
    <div class="row">
      <%= image_tag "legacy.jpg", height:"800px", width:"700px", alt:"legacy" %>
	        <h6>LavaFlake get well cards.</h6>
    </div>
    <div class="row">
      <%= image_tag "blog.png", height:"150px", alt: "blog" %>
	        <h6>Lava's Worst-Case Scenario post.</h6>
	      </div>
    <div class="row">
      <div class="text-left">
    <p class="lead"> Despite the greatest community efforts, Lava pushed aside all interaction and communication with anyone. He tredged foreward, eventually stopping all blog posts and submissions
    to the site. Soon enough, the legend faded into the blackening mist and nothing was heard from him again. To today, the community has come to acknowledge that he likely has passed away, as evidenced 
    by this blog post. After two years of dedicated artists posting their work every day to the site, <i>lavaflake.com/draw/</i> was cut from its hosting on <b>August 1st, 2017.</b></p>
    </div>
     <div class="center jumbotron">
    <h3> Lava's dream lives onwards however, and I often ponder what he would make of the legacy he has left. Drive on you crazy lemur. </h3>
    </div>
	     </div>
    </div>
  </div>
</div>

<div id="parallax3" class="pad-section">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>


<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Do Art Daily - You are here. </h2> <hr />
    
    <div class="row text-center">
      <div class="text-center">
      <p class="lead">Despite all odds, the dream lives on. What Lava made two years ago kindled a flame in the hearts of many, and especially in Banana's and my own.
      As we take up the torch today, we too hope you will discover the same firery passion ignited in you for the world of art. </p>
    </div>
    </div>
  </div>
</div>
<div id="about" class="pad-section">
  <div class="center jumbotron">
      <h1>From <i>the1Banana</i> and <i>NicNac</i>, we present to you: <b>Do Art Daily.</b></h1>
      <% if !logged_in? %>
      <a class="btn btn-lg btn-primary" href="#login-modal" data-toggle="modal">Sign up now!</a>
      <% end %>
    </div>
</div>