
<% provide(:title, "Do Art Daily") %>
  
<div class="center jumbotron">
  <h1>Welcome to Do Art Daily!</h1>
        
  <h2>This is the home page for the website.</h2>
        
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  
<div class="container-fluid">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    <div class="card">
	    <div class="card-header"><b>Exciting Things are in Development!</b></div>
	    <div id="websiteProgressContent" class="collapse show" role="tabcard" aria-labelledby="websiteProgress">
        <div class="card-body">
          <p>the1banana, NicNac and fluff are collaborating to create the third iteration of the Last Artist Standing website. 
          Where the original LAS and Draw Every Day (DED) have fallen, <b>Do Art Daily (DAD)</b> shall rise. We hope that this will become 
          the permanent home for the journeys of aspiring artists.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
          </div>
          <p>
            <h5 class="text-center">35% Complete</h5>
          </p>
        </div>
      </div>
      </div>
    </div>
    
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header"><b>Completed Work</b></div>
        <div class="card-body">
          <p class="card-text">
            Hosting, domain and database logistics<br>
            User sign-up
          </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header"><b>Up Next</b></div>
        <div class="card-body">
          <p class="card-text">
            Login functionality<br>
            Image uploading and validation<br>
            Streak tracking
          </p>
        </div>
      </div>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
  
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>