<% provide(:title, "Site News") %>
  
<div class="container-fluid">
  <br>
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
	  <div class="col-lg-5">
	    
	    <div class="card">
	      <div class="card-header"><b>The Dev Center is Coming!</b></div>
        <div class="card-body">
          This page will be replaced by the Dev Center soon!
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-5">
      <div class="card">

        <div class="card-header"><b>Latest Announcement - the1banana (March 22, 2020)</b></div>

        <div class="card-body">
          This page is being reworked! Stay tuned.<br>
          the1banana
        </div>
      </div>
    </div>
      
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
