- provide(:title, "Site News")

.container-fluid
  br
  .row
    .col-lg-1

    .col-lg-5
      .card
        .card-header
          b The Dev Center is Coming!

        .card-body This page will be replaced by the Dev Center soon!

    .col-lg-5
      .card
        .card-header
          b
            | Latest Announcement - the1banana (March 22, 2020)

        .card-body
          | This page is being reworked! Stay tuned.
          br
          | the1banana

    .col-lg-1
