<div class="challenge_put">
    <div class="modal-header">
        <h4>Edit</h4>
    </div>
    <form>
        <div class="modal-body">
            <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
                {{ vm.error }}
            </div>

            <div class="form-group">
                <div class="col-md-12 no-padding title">
                    <input type="text" ng-model="vm.challenge.title" class="form-control" placeholder="Title" maxlength="50">
                </div>

                <textarea class="form-control" ng-model="vm.challenge.description" placeholder="Short description" rows="2" maxlength="1000"></textarea>

                <textarea class="rules form-control" ng-model="vm.challenge.rules" placeholder="Rules - 1 per line" rows="4" maxlength="3000"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-default pull-left" value="Cancel" ng-click="vm.cancel()">
            <input type="submit" class="btn btn-success" value="Save" ng-click="vm.save()">
        </div>
    </form>
</div>