= form_for @submission, html: { multipart: true } do |f|
  .row
    .col-lg-6
      .card
        .card-header
          b
            | New Submission (
            span style="font-weight:600;" bolded 
            | fields are required)

        .card-body
          - if @submission.errors.any?
            #error_explanation
              h3 = "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being posted:"
              ul
                - @submission.errors.full_messages.each do |message|
                  li = message

          | Because it is currently after the day of submission, your options for editing the submission are limited. 
          |  If you need something changed that isn't available here, please contact an administrator.
          br
          br

          .form-group.row
            .col-3 style="font-weight:600;" = f.label :nsfw_level
            .col-9 = f.select :nsfw_level, options_for_select([['Safe', 1], ['Questionable', 2], ['Explicit', 3]], 1), {}, { class: 'custom-select' }

          .form-group.row
            .col-3 = f.label :title
            .col-9 = f.text_field :title

          .form-group.row
            .col-3 = f.label :description
            .col-9 = f.text_area :description

          .form-group.row
            .col-6 = f.label :commentable, "Allow Comments?"
            .col-6 = f.check_box :commentable, checked: @submission.commentable

          .form-group.row
            .offset-sm-6.col-sm-6 = f.submit class: 'btn btn-primary', style: "margin-bottom: 0;"

    .col-lg-6
