<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <% if Date.current < Date.new(2018,3,28) %>
        <div class="card">
	  <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
            Challenge submissions are temporarily locked until March 28th, 2018, GMT/UTC.<br>
            This date has been pushed out a bit due to illness on my part; I'll do my best to avoid any additional delays.<br>
            If someone does manage to submit something before then, that's really not good and you should let me know as soon as possible.<br>
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% else %>
        <%= render 'form', submission: @submission %>
      <% end %>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
