<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <% if Date.current < Date.new(2018,3,31) %>
        <div class="card">
	  <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
	    Challenge submissions are temporarily locked until <b>March 31st, 2018, GMT/UTC</b>.<br>
            <b>Sorry mates, I've been rather ill. Going to not try to miss this deadline.</b> I'll let you know if it somehow opens up sooner.<br>
            If someone does manage to submit something before then, that's really not good and you should let me know as soon as possible.<br>
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% else %>
        <%= render 'form', submission: @submission %>
      <% end %>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
