<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <% if Date.current < Date.new(2018,4,2) %>
        <div class="card">
	      <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
            <%= image_tag "https://s3.us-east-2.amazonaws.com/do-art-daily-public/TOMORROW+I+SWEAR.jpg" %>
	    <b>TOMORROW I SWEAR</b><br>
	     https://www.strawpoll.me/15405768
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% else %>
        <%= render 'form', submission: @submission %>
      <% end %>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
