<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <% if !logged_in? %>
        <div class="card">
	      <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
            You have to be logged in to submit.
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% else %>
        <% can_submit, error_message = can_make_submission(current_user) %>
        <% if can_submit %>
          <%= render 'form', submission: @submission %>
        <% else %>
          <div class="card">
	          <div class="card-header"><b>Max Daily Submissions Reached</b></div>
            <div class="card-body">
              <%= error_message %><br>
              This is a simple spam prevention measure for new accounts. This limit will increase based on the highest DAD level you've reached. If you have reached your limit,
              consider aggregating your work into a single submission.
              <a class="btn btn-primary" style="float: right" href="/submissions">
                <span class="fa fa-undo"></span> Back
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
