<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <% if Date.current < Date.new(2018,4,1) %>
        <div class="card">
	      <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
            <%= image_tag "https://s3.us-east-2.amazonaws.com/do-art-daily-public/TOMORROW+I+SWEAR.jpg" %>
	          <b>TOMORROW I SWEAR</b><br>
	          No real excuse for this one, I'm feeling better, things just took a little longer than anticipated.
	          In the meantime, why not upload an avatar and check out the list of users in the top right?
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% elsif !logged_in? %>
        <div class="card">
	      <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
            You have to be logged in to submit.
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% else %>
        <%= render 'form', submission: @submission %>
      <% end %>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
