<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <% if Date.current < Date.new(2018,4,2) %>
        <div class="card">
	      <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
	          <b>It's coming...</b><br>
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% elsif !logged_in? %>
        <div class="card">
	      <div class="card-header"><b>Locked</b></div>
          <div class="card-body">
            You have to be logged in to submit.
            <a class="btn btn-primary" style="float: right" href="/submissions">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% else %>
        <%= render 'form', submission: @submission %>
      <% end %>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
