<link rel="stylesheet" href="modules/feedback/feedback.css">

<div class="feedback">
    <div ng-show="vm.error" class="alert dont-break-out alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
        {{ vm.error }}
    </div>

    <div ng-show="vm.feedback.length == 0">Nobody has left feedback on any of your submissions yet.</div>

    <div ng-repeat="redline in vm.feedback">
        <div class="row">
            <div class="col-md-3" tooltip-placement="right" uib-tooltip="{{redline.imagePath}}">
                <a ng-href="{{redline.imagePath}}" target="_blank">
                    <img ng-src="api/redlines/{{redline.id}}/thumbnail" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="info">Written {{redline.created_at_readable}} for
                    <span popover-placement="bottom"
                          popover-trigger="'mouseenter'"
                          uib-popover-html="'<img src=api/submissions/{{redline.submission_id}}/thumbnail />'" >
                        submission id <a ui-sref="submission({id: redline.submission_id})" ng-bind="redline.submission_id"></a> (hover)
                    </span>
                </div>
                <b><a ui-sref="profile({id: redline.user.id})" ng-bind="redline.user.username"></a>: </b>
                <span ng-bind-html="redline.comment"></span>
            </div>
        </div>
        <hr />
    </div>
</div>
