<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-12">
	        <div class="card">
	          <div class="card-header"><b>Challenge Entries</b></div>
            <div class="card-body">
              <% if @challenge.id != 1 %>
                <% if @challengeEntries.count == 0 %>
                  No entries made yet!
                <% else %>
                  <% @challengeEntries.each do |challengeEntry| %>
                    <% if @challengeEntries.count > 140 %>
                      <% submissionUrl = getSubmissionAvatar(Submission.find(challengeEntry.submission_id)) %>
                    <% else %>
                      <% submissionUrl = getSubmissionThumb(Submission.find(challengeEntry.submission_id)) %>
                    <% end %>
                    <%= link_to image_tag(submissionUrl, :style => "margin: 0.125rem;"), url_for({:controller => 'submissions', :action => 'show', :id => challengeEntry.id}), :class => 'quick' %>
                  <% end %>
                <% end %>
              <% else %>
                Are you insane? You want to load EVERY single submission ever uploaded? Don't do this, bro.
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>

<%= link_to 'Back', root_path %>
