<div class="container-fluid" style="margin-top: 2rem;">
  
  <div class="row">
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
      
     <div class="row">
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @challengeEntries %>
        </div>
        <%= will_paginate @challengeEntries, :container => false %>
      </div>
	    </div>
      
      <div class="row">
        <div class="col-lg-12">
	        <div class="card">
	          <div class="card-header"><b>Challenge Entries</b></div>
            <div class="card-body">
              <% if @challengeEntries.count == 0 %>
                No entries made yet!
              <% else %>
                <% @challengeEntries.each do |challengeEntry| %>
                  <% submissionUrl = getSubmissionThumb(challengeEntry.submission) %>
                  <%= link_to image_tag(submissionUrl, :style => "margin: 0.125rem;"), url_for({:controller => 'submissions', :action => 'show', :id => challengeEntry.submission_id}), :class => 'quick' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <a class="btn btn-primary" href=<%="/challenges/#{@challenge.id}"%>>
        <span class="fa fa-undo"></span> Back
      </a>
    </div>
    
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    
  </div>
  
</div>



