<div class="container-fluid" style="margin-top: 2rem;">
  <div class="row">
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
    <% if logged_in? %>
      <% can_create_challenge, error_message = can_make_challenge(current_user) %>
      <% if can_create_challenge %>
        <%= render 'form', challenge: @challenge %>
      <% else %>
        <div class="card">
	        <div class="card-header"><b>Can't Create Challenge</b></div>
          <div class="card-body">
            <%= error_message %>
            <a class="btn btn-primary" style="float: right" href="/challenges">
              <span class="fa fa-undo"></span> Back
            </a>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card">
	      <div class="card-header"><b>Locked</b></div>
        <div class="card-body">
          You must be logged in to make a challenge.
          <a class="btn btn-primary" style="float: right" href="/challenges">
            <span class="fa fa-undo"></span> Back
          </a>
        </div>
      </div>
    <% end %>
    </div>
    <!-- Spacing Column -->
    <div class="col-lg-1"></div>
  </div>
</div>
