.container-fluid style="margin-top: 2rem;"
  .row
    .col-lg-1

    .col-lg-10
      - if logged_in?
        - can_create_challenge, error_message = current_user.can_make_challenges
        - if can_create_challenge
          = render 'form', challenge: @challenge
        - else
          .card
            .card-header
              b Can't Create Challenge

            .card-body
              = error_message
              a.btn.btn-primary style="float: right" href="/challenges"
                span.fa.fa-undo
                |  Back
      - else
        .card
          .card-header
            b Locked

          .card-body
            | You must be logged in to make a challenge.
            a.btn.btn-primary style="float: right" href="/challenges"
              span.fa.fa-undo
              |  Back

    .col-lg-1
