/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'bootstrap';
@import 'pages';
@import 'sessions';
@import 'users';
@import 'houses';
@import 'submissions';

html, body {
  height: 100%;
}

blockquote {
  margin: 0;
  color: #789922;
}

blockquote > br {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

.container-fluid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header > nav > .container-fluid {
  margin: 0;
}

#wrapper {
  flex: 1 0 auto;
}

header {
  height: 75px;
}

header.card-header {
  height: auto;
}

.footer {
  font-size: 0.7rem;
  width: 100%;
  flex-shrink: 0;
  line-height: 25px;
  background-color: #f5f5f5;
}

.card {
  margin-bottom: 1.5rem;
}

.field_with_errors {
  word-wrap: normal;
  color: red;
  font-weight: 700;
}

.prestige1, .prestige2, .prestige3, .prestige4, .prestige5 {
  width: 70px;
  height: 70px;
  background: #eee;
  border: 10px solid transparent;
}

.prestige1 {
  -moz-border-image: -moz-linear-gradient(225deg, #E7703F, #C04A2C);
  -webkit-border-image: -webkit-linear-gradient(225deg, #E7703F, #C04A2C);
  border-image: linear-gradient(225deg, #E7703F, #C04A2C);
  border-image-slice: 1;
}

.prestige2 {
  -moz-border-image: -moz-linear-gradient(225deg, #8C9EAD, #5675AD);
  -webkit-border-image: -webkit-linear-gradient(225deg, #8C9EAD, #5675AD);
  border-image: linear-gradient(225deg, #8C9EAD, #5675AD);
  border-image-slice: 1;
}

.prestige3 {
  -moz-border-image: -moz-linear-gradient(225deg, #F6C562, #9F5E39);
  -webkit-border-image: -webkit-linear-gradient(225deg, #F6C562, #9F5E39);
  border-image: linear-gradient(225deg, #F6C562, #9F5E39);
  border-image-slice: 1;
}

.prestige4 {
  -moz-border-image: -moz-linear-gradient(225deg, #D2E9E3, #707F7B);
  -webkit-border-image: -webkit-linear-gradient(225deg, #D2E9E3, #707F7B);
  border-image: linear-gradient(225deg, #D2E9E3, #707F7B);
  border-image-slice: 1;
}

.prestige5 {
  -moz-border-image: -moz-linear-gradient(225deg, #CFECFB, #118FA6);
  -webkit-border-image: -webkit-linear-gradient(225deg, #CFECFB, #118FA6);
  border-image: linear-gradient(225deg, #CFECFB, #118FA6);
  border-image-slice: 1;
}

p {
  margin-bottom: 0;
}

.card.homeCardStyle {
  color: white;
  td {
    color: white;
  }

  &.transparentCard {
    background-color: rgba(0, 0, 0, 0);
  }
  &.redCard {
    background-color: rgba(95, 31, 31, 0.8);
  }
  &.orangeCard {
    background-color: rgba(95, 63, 0, 0.8);
  }
  &.yellowCard {
    background-color: rgba(77, 77, 0, 0.8);
  }
  &.greenCard {
    background-color: rgba(31, 95, 31, 0.8);
  }
  &.blueCard {
    background-color: rgba(31, 31, 95, 0.8);
  }
  &.purpleCard {
    background-color: rgba(77, 0, 77, 0.8);
  }
  .card-body.table-responsive {
    font-size: 0.8em;
  }

  .streakSafe {
    font-weight: 600;
    color: #AAFFAA;
  }
  .streakDanger {
    font-weight: 600;
    color: #FF5A5A;
  }
  .streakNeutral {
    font-weight: 600;
    color: #DFDF5A;
  }
}

.card {
  &.streakSafe {
    font-weight: 600;
    color: #1A7F1A;
  }
  &.streakDanger {
    font-weight: 600;
    color: #7F0A0A;
  }
  &.streakNeutral {
    font-weight: 600;
    color: #6F6F0A;
  }
}

.smallPopoverText > p {
  font-size: 0.9em;
  text-align: left;
}

.container-fluid.mainPageSplash {
  min-height: 100vh;
}

@media only screen and (max-width:620px)  {
  .container-fluid.mainPageSplash {
  max-width:100%;
  }

  .page_info {
    max-width:100%;
  }

  .avatarWithName {
    display: inline-block;
    position: relative;
    width: 100%;

    margin: 5px;
    border-radius: 10px;
    background: #515d68;
    z-index: 1;

    &.moderator {
      background: #36458a;
    }

    &.administrator {
      background: #8a4536;
    }
  }

}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.smallList {
  font-size: 0.8rem;
}

.leftAlign {
  text-align: left;
}

.avatarWithName {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 200px;
  text-align: center;
  margin: 8px;
  border-radius: 10px;
  background: #515d68;
  z-index: 1;

  &.moderator {
    background: #36458a;
  }

  &.administrator {
    background: #8a4536;
  }
}

.avatarUserName {
  margin-top: 7px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  line-height: 1.0;
  height: 40px;
  color:#ffffff;
  overflow: hidden;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

.fullSizeAvatar {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 150px;
  text-align: center;
  z-index: 3;
}

.fullSizeAvatar > img {
  padding: 10px;
  width: 120px;
  height: 120px;
}

.levelOverlay {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  color: black;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.digg_pagination {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  cursor: default;
  width: 100%;
  a, span, em {
    padding: 0.3em 0.5em;
    display: block;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
  }
  .disabled {
    border-radius: 20px;
    color: #999999;
    border: 2px solid #999999;
    font-weight: 600;
  }
  .current {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    background: #DF5F25;
    border-radius: 20px;
    height: 36px;
    min-width: 36px;
    color: white;
    border: 2px solid #DF5F25;
  }
  a {
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #DF5F25;
    height: 36px;
    border: 2px solid #DF5F25;
    margin: 0;
    min-width: 36px;
    font-weight: 600;
    margin-right: 0.25em;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #BFBFFF;
    color: #222222;
    border-radius: 20px;
    padding: 0.4em 0.6em;
    height: 36px;
    width: 450px;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: rgba(190, 190, 245, 1);
      padding: 0.1em 0.25em;
    }
  }
}

.submissionIcon {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 15px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
}

.submissionTitle {
  text-align: left;
  position: absolute;
  background: rgba(51, 52, 50, 0.5);
  color: white;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 30px;
  font-size: 10pt;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 5px;
  text-overflow: ellipsis;
}

.submissionAuthor {
  text-align: left;
  position: absolute;
  background: rgba(51, 52, 50, 0.5);
  color: white;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 30px;
  font-size: 10pt;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;

  &.followed-user {
    background: rgba(11, 118, 184, 0.5);
  }

  &.softDeleted {
    background: #ffb0b0;
    color: #721c24;
  }

  &.unapproved {
    background: #fff3a0;
    color: #755404;
  }

  > img {
    height: 30px;
    width: 30px;
    border-radius: 0;
    display: inline-block;
  }

  &:hover {
    color: #AAAAAA;
    text-decoration: none;
  }
}

.submissionNotes {
  text-align: right;
  position: absolute;
  top: 120px;
  background: rgba(51, 52, 50, 0.5);
  color: white;
  width: 100%;
  border-radius: 0 0 10px 10px;
  height: 30px;
  font-size: 12pt;
  font-weight: 600;
  padding-top: 1px;
  padding-right: 10px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  &.followed-user {
    background: rgba(11, 118, 184, 0.5);
  }

  &.softDeleted {
    background: #ffb0b0;
    color: #721c24;
  }

  &.unapproved {
    background: #fff3a0;
    color: #755404;
  }
}

.submissionTime {
  text-align: right;
  position: absolute;
  background: rgba(9, 87, 139, 0.8);
  color: white;
  width: 100%;
  top: 170px;
  height: 30px;
  border-radius: 0 0 10px 10px;
  padding: 2px;
  padding-top: 4px;
  overflow: hidden;
  white-space: nowrap;
}

/* Dropdown Button */
.drophover {
    color: yellow;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.8rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drophover {background-color: #3e8e41;}

.alert-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.comment-card {
  .card-header {
    padding: 0.5rem;
    &:target {
      background-color: #bbdefb;
    }
  }
  .card-body {
    padding: 0.5rem;
    &:target {
      background-color: #e3f2fd;
    }
  }
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.comment-card:target {
  border: 2px solid #0d47a1;

  .card-header {
    background-color: #bbdefb;
    border-bottom: 1px solid #1e88e5;
  }
  .card-body {
    background-color: #e3f2fd;
  }
}

.quote-id:hover {
  cursor: pointer;
  color: blue;
}

.modal.fade .modal-dialog {
	-moz-transition: none !important;
	-o-transition: none !important;
	-webkit-transition: none !important;
	transition: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
}

/*
 * This application's CSS overwrites many default styles for some reason.
 * This section will restore them back to their usual values within a section.
 */

.restore-defaults {
  h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
  }

  p {
    margin: 1em 0px;
  }
}

