/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

 @import 'bootstrap';
 @import 'pages';
 @import 'sessions';
 @import 'users';

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header > nav > .container-fluid {
  margin: 0;
}

#wrapper {
  flex: 1 0 auto;
}

.navbar {
  
  padding: 0 0.5rem;
  font-size: 14px;
  font-weight: 600;
  background-color: #101016;
  
  .nav-link {
    height: 40px;
    &:hover {
      background-color: #20203F;
    }
    &.nav-submit {
      color: yellow;
    }
  }
  
  a {
    color: #FFF0E0;
    i {
      color: #9F9F90;
      transition: 0.3s;
    }
    &:hover {
      i {
        color: #FF8000;
      }
    }
  }  
  
  .navbar-brand {
    padding: 5px 0;
    height: 40px;
    
    .navbar-title {
      font-size: 1.2rem;
      vertical-align: top;
    }
    
    img {
      vertical-align: top;
      height: 30px;
    }
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 128, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    margin-top: -0.75rem;
  }

  .navbar-toggler {
    border: none;
  }
  
  .navbar-translate {
    height: 40px;
  }
  
  /* Dropdown Button */
  .drophover {
    color: yellow;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.8rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    
    a {
      color: black;
      padding: 0.25rem 0.5rem;
      text-decoration: none;
      display: block;
      cursor: pointer;
      
      &:hover {
        background-color: #E0E0FF;
      }
    }
  }
  
  /* Show the dropdown menu on hover */
  .dropdown {
    position: relative;
    display: inline-block;
    
    &:hover {
      .drophover {
        background-color: #30305F;
      }
      .dropdown-content {
        display: block; font-weight: 400;
      }
    }
  }
}

.footer {
  font-size: 0.7rem;
  width: 100%;
  flex-shrink: 0;
  line-height: 25px;
  background-color: #101016;
  color: #E8D0A0;
  a {
    color: #FFF0E0;
  }
}

.card {
  margin-bottom: 1.5rem;
}

.field_with_errors {
  word-wrap: normal;
  color: red;
  font-weight: 700;
}

p {
  margin-bottom: 0;
}

.card.homeCardStyle {
  color: white;
  td {
    color: white;
  }
  
  &.transparentCard {
    background-color: rgba(0, 0, 0, 0);
  }
  &.redCard {
    background-color: rgba(95, 31, 31, 0.8);
  }
  &.orangeCard {
    background-color: rgba(95, 63, 0, 0.8);
  }
  &.yellowCard {
    background-color: rgba(77, 77, 0, 0.8);
  }
  &.greenCard {
    background-color: rgba(31, 95, 31, 0.8);
  }
  &.blueCard {
    background-color: rgba(31, 31, 95, 0.8);
  }
  &.purpleCard {
    background-color: rgba(77, 0, 77, 0.8);
  }
  .card-body.table-responsive {
    font-size: 0.8em;
  }
  #StreakStatus {
    font-weight: 600;
    &.streakSafe {
      color: #AAFFAA;
    }
    &.streakDanger {
      color: #FF5A5A;
    }
    &.streakNeutral {
      color: #DFDF5A;
    }
  }
}

.card {
  #StreakStatus {
    font-weight: 600;
    &.streakSafe {
      color: #1A7F1A;
    }
    &.streakDanger {
      color: #7F0A0A;
    }
    &.streakNeutral {
      color: #6F6F0A;
    }
  }
}

.smallPopoverText > p {
  font-size: 0.9em;
  text-align: left;
}

.container-fluid.mainPageSplash {
  min-height: 100vh;  
}

@media only screen and (max-width:620px)  {
  .container-fluid.mainPageSplash {
  max-width:100%;
  }
  
  .page_info {
    max-width:100%;
  }
  
  .avatarWithName {
    display: inline-block;
    position: relative;
    width: 100%;
    
    margin: 5px;
    border-radius: 10px;
    background: #515d68;
    z-index: 1;
  }
  
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.smallList {
  font-size: 0.8rem;
}

.leftAlign {
  text-align: left;
}

.avatarWithName {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 190px;
  text-align: center;
  margin: 8px;
  border-radius: 10px;
  background: #515d68;
  z-index: 1;
}

.avatarUserName {
  margin-top: 5px; 
  text-align: center; 
  font-weight: 600;
  width: 100%;
  color:#ffffff;
  overflow: hidden;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

.fullSizeAvatar {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 150px;
  text-align: center;
  z-index: 3;
}

.fullSizeAvatar > img {
  padding: 10px;
  width: 120px;
  height: 120px;
}

.levelOverlay {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  color: black;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.digg_pagination {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  cursor: default;
  width: 100%;
  a, span, em {
    padding: 0.3em 0.5em;
    display: block;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
  }
  .disabled {
    border-radius: 20px;
    color: #999999;
    border: 2px solid #999999;
    font-weight: 600;
  }
  .current {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    background: #DF5F25;
    border-radius: 20px;
    height: 36px;
    min-width: 36px;
    color: white;
    border: 2px solid #DF5F25;
  }
  a {
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #DF5F25;
    height: 36px;
    border: 2px solid #DF5F25;
    margin: 0;
    min-width: 36px;
    font-weight: 600;
    margin-right: 0.25em;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #BFBFFF;
    color: #222222;
    border-radius: 20px;
    padding: 0.4em 0.6em;
    height: 36px;
    width: 450px;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: rgba(190, 190, 245, 1);
      padding: 0.1em 0.25em;
    }
  }
}

.submissionIcon {
  display: inline-block;
  position: relative;
  width: 134.9px;
  height: 134.9px;
  text-align: center;
  margin: 15px;
  img {
    width: 134.9px;
    height: 134.9px;
    border-radius: 10px;
  }
}

.submissionAuthor {
  text-align: left;
  position: absolute;
  background: rgba(51, 52, 50, 0.5);
  color: white;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 30px;
  font-size: 10pt;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  
  > img {
    height: 30px;
    width: 30px;
    border-radius: 0;
    display: inline-block;
  }
  
  &:hover {
    color: #AAAAAA;
    text-decoration: none;
  }
}

.submissionTime {
  text-align: right;
  position: absolute;
  background: rgba(9, 87, 139, 0.8);
  color: white;
  width: 100%;
  top: 170px;
  height: 30px;
  border-radius: 0 0 10px 10px;
  padding: 2px;
  padding-top: 4px;
  overflow: hidden;
  white-space: nowrap;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.comment-card {
  .card-header {
    padding: 0.5rem;
    &:target {
      background-color: #bbdefb;
    }
  }
  .card-body {
    padding: 0.5rem;
    &:target {
      background-color: #e3f2fd;
    }
  }
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.comment-card:target {
  border: 2px solid #0d47a1;
  
  .card-header {
    background-color: #bbdefb;
    border-bottom: 1px solid #1e88e5;
  }
  .card-body {
    background-color: #e3f2fd;
  }
}

.quote-id:hover {
  cursor: pointer;
  color: blue;
}