/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

 @import 'bootstrap';
 @import 'pages';
 @import 'sessions';
 @import 'users';

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  margin-bottom: 30px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px;
  background-color: SkyBlue;
  padding-left: 5px;
  padding-right: 5px;
}

footer a {
  color: #448;
}

footer a:hover {
  color: #113;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  margin-bottom: 0;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.card {
  margin-bottom: 1.5rem;
}

.field_with_errors {
  word-wrap: normal;
  color: red;
  font-weight: 700;
}

.prestige1, .prestige2, .prestige3, .prestige4, .prestige5 {
  width: 70px;
  height: 70px;
  background: #eee;
  border: 10px solid transparent;
  
}

.prestige1 {
  -moz-border-image: -moz-linear-gradient(225deg, #E7703F, #C04A2C);
  -webkit-border-image: -webkit-linear-gradient(225deg, #E7703F, #C04A2C);
  border-image: linear-gradient(225deg, #E7703F, #C04A2C);
  border-image-slice: 1;
}

.prestige2 {
  -moz-border-image: -moz-linear-gradient(225deg, #8C9EAD, #5675AD);
  -webkit-border-image: -webkit-linear-gradient(225deg, #8C9EAD, #5675AD);
  border-image: linear-gradient(225deg, #8C9EAD, #5675AD);
  border-image-slice: 1;
}

.prestige3 {
  -moz-border-image: -moz-linear-gradient(225deg, #F6C562, #9F5E39);
  -webkit-border-image: -webkit-linear-gradient(225deg, #F6C562, #9F5E39);
  border-image: linear-gradient(225deg, #F6C562, #9F5E39);
  border-image-slice: 1;
}

.prestige4 {
  -moz-border-image: -moz-linear-gradient(225deg, #D2E9E3, #707F7B);
  -webkit-border-image: -webkit-linear-gradient(225deg, #D2E9E3, #707F7B);
  border-image: linear-gradient(225deg, #D2E9E3, #707F7B);
  border-image-slice: 1;
}

.prestige5 {
  -moz-border-image: -moz-linear-gradient(225deg, #CFECFB, #118FA6);
  -webkit-border-image: -webkit-linear-gradient(225deg, #CFECFB, #118FA6);
  border-image: linear-gradient(225deg, #CFECFB, #118FA6);
  border-image-slice: 1;
}