// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.house-container > h3 {
  margin-top: 2em;
}

.house-card {
  width: 28%;
  min-width: 300px;
  max-width: 400px;
}

.house-card-header {
  display: flex;
  align-items: baseline;
}

.house-icon {
  padding: 0 5px;
}

.house-card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.house-title {
  font-weight: bold;
}

.house-participant {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
}

.house-spacer {
  flex: 1;
}

.house-table-cell {
  display: flex;
  justify-content: space-between;
}

.house-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house-neighborhood {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%
}
