.changelog .list-group-item {
    font-weight: 500;
    border-left: 0;
    border-right: 0;
}

.changelog .list-group-item.active {
    font-weight: 500;
}

.changelog .pull-left {
    margin-right: 30px;
    width: 50px;
}

/* COLOR */

.changelog .list-group-item {
    border: 1px solid #e2e2e2;
}

.changelog .list-group-item.active {
    background: #467398;
    background: linear-gradient(to top, #467398, #4e80a9);
    border: 1px solid black;
}

.changelog .less-active {
    background-color: #c1d3da;
}

.changelog .badge {
    background-color: #68a3d5;
}