javascript:
  function unfollow(id) {
    let xhttp = new XMLHttpRequest();
    xhttp.open("post", '/unfollow/' + id, true)
    xhttp.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        let unfollowBtn = document.getElementById('unfollow--' + id)
        unfollowBtn.innerHTML = "Follow"
        unfollowBtn.value = "Follow"
        unfollowBtn.classList.remove('btn-danger')
        unfollowBtn.classList.add('btn-primary')
        unfollowBtn.onclick = () => { follow(id); return false }
        unfollowBtn.href = "/follow/#{user.id}"
        unfollowBtn.id = 'follow--' + id
      }
    };
    xhttp.send()
  }

  function follow(id) {
    let xhttp = new XMLHttpRequest();
    xhttp.open("post", '/follow/' + id, true)
    xhttp.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        let followBtn = document.getElementById('follow--' + id)
        followBtn.innerHTML = "Unfollow"
        followBtn.value = "Unfollow"
        followBtn.classList.remove('btn-primary')
        followBtn.classList.add('btn-danger')
        followBtn.onclick = () => { unfollow(id); return false }
        followBtn.href = "/unfollow/#{user.id}"
        followBtn.id = 'unfollow--' + id
      }
    };
    xhttp.send()
  }

- if logged_in?
  - if follows?(user.id)
    = form_with(url: "/unfollow/#{user.id}", method: 'post') do |form|
      = form.submit "Unfollow", class: "btn btn-danger", id: "unfollow--#{user.id}", onclick: "javascript:unfollow(#{user.id}); return false;"
  - else
    = form_with(url: "/follow/#{user.id}", method: 'post') do |form|
      = form.submit "Follow", class: "btn btn-primary", id: "follow--#{user.id}", onclick: "javascript:follow(#{user.id}); return false;"
    
