<div class="challenges_active">
    <div class="modal-header">
        <h4>Link submission to challenges</h4>
    </div>
    <div class="modal-body">
        <ul class="list-group" ng-show="vm.challenges.length > 0">
            <li ng-class="vm.picked.indexOf(challenge.id) != -1 ? 'selected' : ''" class="dont-break-out list-group-item challenge-item"
                ng-repeat="challenge in vm.challenges" ng-click="vm.toggleChallenge(challenge)">
                <span class="pull-left badge" ng-bind="challenge.user.username"></span>
                <span ng-bind="challenge.title"></span>
            </li>
        </ul>
        <div ng-show="vm.challenges.length == 0">There are no active challenges - Try creating one!</div>
    </div>

    <div class="modal-footer">
        <input type="button" class="btn btn-default" value="Cancel" ng-click="vm.cancel()">
        <input type="button" class="btn btn-success" value="Done" ng-click="vm.save()">
    </div>
</div>