<link rel="stylesheet" href="modules/dashboard/dashboard.css">
<div class="dashboard">
    <div class="row countDown">
        <div class="col-md-12" ng-bind="vm.endOfDay"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-show="vm.error" class="alert dont-break-out alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" ng-click="vm.clearError()"><span>&times;</span></button>
                {{ vm.error }}
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" ng-show="vm.stats.submitted_today != 'guest'">
                    <div class="panel-heading">
                        <div class="title">Submit</div>

                        <div class="title-text">
                            <div class="submission_status submission_yes" ng-show="vm.stats.submitted_today == true">
                                You've submitted today, good job
                                <i class="fa fa-check-circle-o fa-fw"></i>
                            </div>

                            <div class="submission_status submission_no" ng-show="vm.stats.submitted_today == false">
                                You haven't submitted yet today
                                <i class="fa fa-remove fa-fw"></i>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div>Not sure what to draw? How about.. <b ng-bind="vm.randomWord"></b>?
                            <input type="button" ng-click="vm.newWord()" class="btn btn-pill btn-default" value="No">
                        </div>

                        <hr class="smaller-divider" />

                        <div class="col-md-12 submit-text">
                            <input type="text" ng-model="vm.submission.image_link" class="form-control" placeholder="Direct image link" maxlength="255">
                        </div>

                        <div class="col-md-4 submit-text">
                            <input type="text" ng-model="vm.submission.title" class="form-control" placeholder="Title" maxlength="50">
                        </div>
                        <div class="col-md-8 submit-text">
                            <input type="text" ng-model="vm.submission.description" class="form-control" placeholder="Short text" maxlength="255">
                        </div>

                        <div class="submit-final col-md-12" ng-show="vm.submission.image_link">
                            <div class="col-xs-2 challenge-button" tooltip-placement="top" uib-tooltip="Enter submission into a challenge.">
                                <button type="button" class="no-padding form-control btn"
                                        ng-class="vm.isChallengeSelected()"
                                        ng-click="vm.openChallengesSelectModal()">
                                    <i class="fa fa-fw fa-trophy"></i>
                                </button>
                            </div>

                            <div class="col-xs-2 feedback-button" tooltip-placement="top" uib-tooltip="Allow redlines / feedback.">
                                <button type="button" class="no-padding form-control btn"
                                        ng-class="vm.submission.redline ? 'btn-success' : 'btn-danger'"
                                        ng-click="vm.submission.redline = !vm.submission.redline">
                                    <i class="fa fa-fw" ng-class="vm.submission.redline ? 'fa-commenting-o' : 'fa-ban'"></i>
                                </button>
                            </div>

                            <div class="col-xs-4 btn-group" data-toggle="buttons">
                                <label class="btn" ng-class="vm.submission.nsfw == false ? 'btn-success' : 'btn-default'">
                                    <input type="radio" ng-model="vm.submission.nsfw"
                                           ng-click="vm.submission.nsfw = false"
                                           name="options" id="swf" autocomplete="off"> SFW
                                </label>
                                <label class="btn" ng-class="vm.submission.nsfw == true ? 'btn-danger' : 'btn-default'">
                                    <input type="radio" ng-model="vm.submission.nsfw"
                                           ng-click="vm.submission.nsfw = true"
                                           name="options" id="nsfw" autocomplete="off"> NSFW
                                </label>
                            </div>

                            <div class="col-xs-4">
                                <input type="button" class="form-control btn btn-success" ng-click="vm.submitSubmission()" value="Upload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a ui-sref="submissions({offset: 0})" class="clickable-header">Newest submissions</a>
                    </div>
                    <div class="panel-body slider">
                        <a ng-class="{'active':vm.isCurrentSlideIndex($index)}" class="slide"
                           ng-repeat="slide in vm.newestSubmissions"
                           ui-sref="submission({id: slide.id})">
                            <img ng-src="{{slide.imagePath}}">
                        </a>

                        <a class="arrow prev" ng-click="vm.nextSlide()"></a>
                        <a class="arrow next" ng-click="vm.prevSlide()"></a>

                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in vm.newestSubmissions" ng-click="vm.setCurrentSlideIndex($index)">
                                <a ng-class="{'active':vm.isCurrentSlideIndex($index)}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Today</div>
                    <div class="panel-body">
                        <table>
                            <tr class="border-bottom"><th class="border-right">Registered users visiting</th>
                                <th class="pull-right" ng-bind="vm.stats.user_visits"></th></tr>
                            <tr class="border-bottom"><th class="border-right">New users</th>
                                <th class="pull-right" ng-bind="vm.stats.new_users"></th></tr>
                            <tr class="border-bottom"><th class="border-right">Submissions</th>
                                <th class="pull-right" ng-bind="vm.stats.submissions"></th></tr>
                            <tr class="border-bottom"><th class="border-right">Streaks started</th>
                                <th class="pull-right" ng-bind="vm.stats.streaks_started"></th></tr>
                            <tr><th class="border-right">Streaks ended</th>
                                <th class="pull-right" ng-bind="vm.stats.streaks_ended"></th></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Online streamers
                        <i class="fa fa-fw fa-question-circle" tooltip-placement="top"
                           uib-tooltip="Contact me if you stream on Picarto and want to be added here"></i>
                    </div>
                    <div class="panel-body">
                        <div ng-show="vm.streamers.length == 0">
                            <div>Streams are dead. Press X to pay your respects</div>
                            <button ng-click="vm.respectup()" class="btn btn-primary btn-respect">X</button>
                            <span ng-bind="'Respect: ' + vm.stats.respect"></span>
                        </div>

                        <div ng-show="vm.streamers.length > 0">
                            <div class="stream-preview" ng-repeat="stream in vm.streamers">
                                <a target="_blank" ng-href="http://picarto.tv/{{stream.channel_name}}">
                                    <img ng-src="{{stream.avatar_url}}">
                                    <div class="viewers">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <b ng-bind="stream.current_viewers"></b>
                                    </div>
                                    <div class="info"><b ng-bind="stream.channel_name"></b></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a ui-sref="stats" class="clickable-header">Longest ongoing streaks</a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"
                                ng-repeat="streak in vm.longestStreak | limitTo: 5"
                                ui-sref="profile({id: streak.user.id})">
                                <span class="badge" ng-bind="streak.current"></span>
                                <a ui-sref="profile({id: streak.user.id})" ng-bind="streak.user.username"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>