footer.footer style="background-color: rgba(223, 223, 255, 0.9);"
  .container
    .row
      nav.footer-nav
        = link_to "About ", '#'
        = mail_to "lastartiststanding3@gmail.com", "Contact "
        a href="https://github.com/LastArtistStanding/last-artist-standing/" Want to Help?

      .credits.ml-auto
        span.copyright
          | Do Art Daily 
          = link_to PatchNote.last.patch, "/news"
          = " ©#{Time.now.utc.year}"
          |  made by 
          a href="https://github.com/the1banana" the1banana
          | , 
          a href="https://github.com/shawsey" NicNac
          | , and 
          a href="https://github.com/jamestmartin" jamestmartin

      br
      i All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
