<footer class="footer">
  <small>
    Do Art Daily <%= link_to PatchNote.last.patch, "/news" %>
    by <a href="https://github.com/the1banana">the1banana</a>,
    <a href="https://github.com/shawsey">NicNac</a>
    and <a href="https://github.com/fluffdotexe">fluff</a>
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to "About",   '#' %></li>
        <li><%= mail_to "lastartiststanding3@gmail.com", "Contact" %></li>
        <li><a href="https://github.com/LastArtistStanding/last-artist-standing/">Want to Help?</a></li>
      </small>
    </ul>
  </nav>
</footer>