<footer class="footer">
  <small>
    Do Art Daily v0.1
    by <a href="https://github.com/the1banana">the1banana</a>,
    <a href="https://github.com/shawsey">NicNac</a>
    and fluff
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="https://github.com/LastArtistStanding/last-artist-standing/tree/rails-development">Want to Help?</a></li>
      </small>
    </ul>
  </nav>
</footer>