<footer class="footer" style="background-color: rgba(223, 223, 255, 0.9);">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <%= link_to "About",   '#' %>
        <%= mail_to "lastartiststanding3@gmail.com", "Contact" %>
        <a href="https://github.com/LastArtistStanding/last-artist-standing/">Want to Help?</a>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          Do Art Daily <%= link_to PatchNote.last.patch, "/news" %> ©<%= Date.today.year %>
          made by <a href="https://github.com/the1banana">the1banana</a> and <a href="https://github.com/shawsey">NicNac</a>
        </span>
      </div>
      <br>
            <i>All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</i>
    </div>
  </div>
</footer>