= form_for(:session, url: login_path, remote: true, html: { novalidate: true }) do |f|
  = f.label :email
  = f.email_field :email, class: 'form-control', required: true
  
  = f.label :password 
  = link_to "(Forgot Password?)", new_password_reset_path
  = f.password_field :password, class: 'form-control', required: true
  
  = f.submit "Log in", class: "btn btn-primary"
